.total-info {
    margin-bottom:50pt;
}
.people-info .row-button {
    float:right
}

.block-ui {
    z-index: 1000;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
}

.block-ui > div {
    
    margin-top:50pt;
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.block-content {
    background-color:white;

}

.block-content > div{
    margin-top:10pt;

}

.calculate{
    margin:5px;
    display : flex;
    justify-content: center;
    align-items: center;
}

.calculate-btn, .block-btn{
    background-color: black;
    color:white;
    width: 80px;
    text-align: center;
    height:35px;
    line-height: 35px;
    border-radius:10px;
    box-shadow: 1px 1px 1px black;
    transition-duration: 0.2s;
    cursor: pointer;
    user-select: none;
}

.block-btn {
    opacity: 1;
    margin: 0 auto;
    margin-bottom:15pt;
    margin-top:15pt;
}

.block-btn:active {
    padding-left:1px;
    padding-top:1px;
    box-shadow: none;
}

.calculate-btn:active {
    margin-left:1px;
    margin-top:1px;
    box-shadow: none;
}

.rowctrl-btn {
    display:inline-block;
    background-color: grey;
    color:white;
    width: 80px;
    text-align: center;
    margin-left:5px;
    height:30px;
    line-height: 30px;
    border-radius:10px;
    box-shadow: 1px 1px 1px grey;
    transition-duration: 0.2s;
    cursor: pointer;
    user-select: none;
}

.rowctrl-btn:active {
    /* margin-left:1px; */
    box-shadow: none;
}

#row-add {
    background-color: rgb(88, 88, 216);
}

#row-remove {
    background-color: rgb(219, 86, 86);
}

.hidden {
    display:none;
}

.head-writing {
    display:inline-block;
    font-size: 15pt;
    font-weight: 600;
    margin:5px;
}

.help-user-btn { 
    border-radius: 10pt;
    display: inline-block;
    background-color: black;
    color:white;
    cursor: pointer;
    font-size:10pt;
    text-align: center;
    width: 12pt;
    box-shadow: 1px 1px 1px black;
}

.help-user-btn:active {
    margin-left:1pt;
    margin-top:1pt;
    box-shadow: none;
}

#help-image-explain {
    padding-left: 10pt;
    font-size: 15pt;
}
